<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>GPS APP</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://api-maps.yandex.ru/2.1/?apikey=993c960b-a383-483b-bdb5-c02feafe1c9f&lang=ru_RU" type="text/javascript">
    </script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        {% load static %}

        function initMap(routeData) {
            console.log(routeData);

            const map = new ymaps.Map('map', {
                center: JSON.parse(routeData[0].value).slice(0, 2),
                zoom: 15
            });

            const coordinatesWithSpeed = routeData.map(entry => {
                const jsonString = entry.value;
                const parsedData = JSON.parse(jsonString);
                const latitude = parsedData[0];
                const longitude = parsedData[1];
                const speed = Math.round(parsedData[2]*3.6);
                const date = new Date(entry.timestamp).toLocaleString('ru', {
                    year: 'numeric',
                    month: '2-digit',
                    day: '2-digit',
                    hour: '2-digit',
                    minute: '2-digit',
                    second: '2-digit'
                });
				const name = entry.app_id;

				let lineColor = '#0000FF'; // Default blue color

				if (speed >= 100) {
					lineColor = '#FF0000'; // Red color for high speed
				} else if (speed >= 80) {
					lineColor = '#ff0099';
				} else if (speed >= 60) {
					lineColor = '#bf00ff';
				} else if (speed >= 40) {
					lineColor = '#2b00ff';
				} else if (speed >= 20) {
					lineColor = '#00b7ff';
				} else if (speed >= 0) {
					lineColor = '#00ff55';
				}

                return {
                    coordinates: [latitude, longitude],
                    speed: speed,
					color: lineColor,
					date: date,
					name: name
                };
            });

            const coordinates = coordinatesWithSpeed.map(data => data.coordinates);

			const lines = [];

			for (let i = 0; i < coordinatesWithSpeed.length - 1; i++) {
                const placemark = new ymaps.Placemark(
                    coordinatesWithSpeed[i + 1].coordinates,
                    { hintContent: `Name: ${coordinatesWithSpeed[i + 1].name}<br>Date: ${coordinatesWithSpeed[i + 1].date}<br>Speed: ${coordinatesWithSpeed[i + 1].speed} km/h` },
					{
						iconLayout: 'default#image',
						iconImageHref: '{% static 'point.svg' %}',
						iconImageSize: [20, 20],
						iconImageOffset: [-10, -10],
						   // Определим интерактивную область над картинкой.
						iconShape: {
							type: 'Circle',
							coordinates: [0, 0],
							radius: 20
						}
					}
                );
                map.geoObjects.add(placemark);

				const line = new ymaps.Polyline(
					[coordinatesWithSpeed[i].coordinates, coordinatesWithSpeed[i + 1].coordinates],
					{},
					{
						strokeColor: coordinatesWithSpeed[i].color,
						strokeWidth: 4,
						strokeOpacity: 0.7
					}
				);
				lines.push(line);
				map.geoObjects.add(line); // Добавляем линию на карту
			}

        }


        // Здесь выполняется POST-запрос к API и отображение данных на карте
        const URL_API = '/api/map/';
        const data = {
            start_date: '2023-09-16',
        };

        const requestOptions = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{csrf_token}}',
            },
            body: JSON.stringify(data)
        };

        fetch(URL_API, requestOptions)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(routeData => {
                // Вызываем функцию инициализации карты и передаем данные
                initMap(routeData);
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
    </script>
</head>

<body>
<div id="map" style="background-color:#FF0; overflow:hidden"></div>
</body>

<style type="text/css">
    html, body, #map {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>

</html>